@import 'open-props/normalize.min.css';
@import 'remixicon.css';
@import 'miniPlayer.css';
@import 'header.css';
@import '../plugins/Search.css';
@import '../core/Upcoming.css';
@import '../core/Library.css';

:root {
  --border: var(--border-size-1) solid var(--accent);
  --text: #000a;
  --bg: aliceblue;
  --onBg: #fff7;
  --accent: #000;
  --radius: var(--radius-2);
  background-color: var(--bg);
}

html,
body {
  height: 100dvh;
}

body {
  font-family: var(--font-system-ui);
  -webkit-font-smoothing: antialiased;
}

/*
.immersive {
  background-image: linear-gradient(var(--bgLight), var(--bg));
  background-size: cover;
  background-position: center;

section {
  backdrop-filter: blur(0.5rem);
}
}
*/

main {
  background-color: var(--bg);
  color: var(--text);
  display: flex;
  height: 100%;
  user-select: none;


  section {
    height: 100%;
    flex: 1 0 0;
    padding: var(--size-3);
    overflow-y: scroll;
  }

  @media (orientation: portrait) {
    overflow-x: scroll;
    flex-direction: row;
    scroll-snap-type: x mandatory;

    section {
      flex: 0 0 100%;
      scroll-snap-align: center;
    }
  }
}

nav {
  width: 100%;
  overflow: scroll;
  margin-top: var(--size-3);

  input[type='radio'] {
    display: none;

    &:checked+label {
      font-weight: bolder;
      opacity: 1;
    }

    &+label {
      display: inline-block;
      margin-right: var(--size-3);
      padding: 0;
      list-style: none;
      opacity: 0.75;
    }

  }

}


.emptyStateComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--onBg);
  border-radius: var(--radius);
  width: 100%;
  aspect-ratio: 4/3;
  margin-top: var(--size-3);

  i {
    font-size: var(--size-7);
  }

  p {
    font-style: italic;
  }
}


dialog {
  height: 100dvh;
  width: 100dvw;
  border-radius: 0;
  background: blue;
  box-shadow: none;

  @media(orientation:landscape) {
    width: calc(100dvw / 1.5);
    margin-left: calc(100dvw / 3);
  }

  &::backdrop {
    background: red;
  }
}