#queuetools {
  display: inline-block;
  width: 100%;
  align-items: center;
  color: var(--text);
  box-shadow: var(--shadow-2);
  border-radius: var(--radius);

  li {
    background: none;
    border-radius: var(--radius);
    transition: all 0.4s;
    display: flex;
    align-items: center;
    padding: var(--size-1);

    i {
      font-size: var(--size-4);
      width: var(--size-6);
      height: var(--size-6);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: var(--radius);
      pointer-events: none;
    }

    &:nth-child(5).on i {
      background: #f0f3;
      color: #f0f;
    }

    &:nth-child(4).on i {
      background: #dd42;
      color: #dd4;
    }

    &:nth-child(3).on i {
      background: #1bb2;
      color: #1bb;
    }

    &:nth-child(2).on i {
      background: #f002;
      color: #f00;
    }


    &:active {
      transform: scale(0.95);
    }

    &:hover {
      text-decoration-line: none;
      background: #fff7;
    }
  }

}